.element{
  padding:0;
  margin:0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
 
}
p,
a,
span,
table,
th,
tr,
td,
h1,
h2,
h3,
h4,
h5,
h6,
img,
ul,
ol,
li {
      margin: 0;
      padding: 0;
      font-family: 'M PLUS Rounded 1c', sans-serif;
}



.box{
  background-color:#fff;
  margin:5% 20%;
  box-shadow: -16px 17px 43px 1px rgba(0,0,0,0.6);
  -webkit-box-shadow: -16px 17px 43px 1px rgba(0,0,0,0.6);
  -moz-box-shadow: -16px 17px 43px 1px rgba(0,0,0,0.6);
 
}
.Header-content{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
  padding:10px;

}
.Header-content h1{
  font-size: 16px;
  font-weight: 400;

}
.Header-content input{
  border:1px solid #d9d9d9;
  border-radius:7px;
  font-size: 12px;
  width:20%;
}
.Header-content input:focus{
  border:1px solid #ded3d3;
  outline:none;

}
.Header-content input::placeholder{
  margin:0 3px;
}
.Header-body{
  padding:3% 0;
}
.Header-body h2{
  font-size: 49px;
  font-weight: 600;
  margin-top: 15%;

}
.Header-body .Header-body-image{
  width: 65%;
  margin: 0px 16%;
  margin-bottom: 2%;
}
.Header-body img{
  width:100%;
  opacity: 0.45;
  animation: heartbeat 4s infinite;

}


@keyframes heartbeat {
  0%{
        transform: scale(1);


  }

  50% {
        transform: scale(1.1);

  }
  100%{
       transform: scale(1);
  }
}
.Header-body h3{
  font-size: 14px;
  font-weight: 400;

}
.Header-body h3:last-child{
  line-height: 3px;

}


.Header-body  .Header-body-second .Header-body-image{
  position: relative;
  
  
}
.Header-body  .Header-body-second .Header-body-image .temp-descrip{
  position: absolute;
  top: 31%;
  left: 18%;
  
}

.Header-body  .Header-body-second .Header-body-image .temp-descrip h4{
  font-size: 48px;
  font-weight: 500;
}
.Header-body  .Header-body-second .Header-body-image .temp-descrip h3 span{
  font-weight: 600;
}

@media (max-width: 767px){
  .Header-content {
    display: block; 
    text-align: center;
   
  }
  .Header-content input {
    width: 85%;
    padding: 5% 0;
    text-align: center;
  
  }
  .Header-content input::placeholder{
    text-align: center;
    font-size: 14px;
  }
  .Header-content h1 {
    margin: 10px 0;
    font-weight: 500;
    font-size: 33px;
  }
  .Header-content h1:last-child{
    margin: 10px 0;
    font-weight: 300;
    font-size: 10px;

  }
  .box {
    margin: 4% 4%;
    padding-bottom: 44%;
  }
  .Header-body {
    padding: 19% 0;
}
  .header-body .Header-body-second .Header-body-image .temp-descrip {
    position: absolute;
  
    display: block;

    text-align: center;
}  
.Header-body img {
  width: 100%;
  animation: heartbeat 4s infinite;
}

@keyframes heartbeat {
  0%{
        transform: scale(1);


  }

  50% {
        transform: scale(1.1);

  }
  100%{
       transform: scale(1);
  }
}


}



